<form class="post-form" [formGroup]="postForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="post-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" id="title" type="text" formControlName="title">
  </mat-form-field>

  <mat-form-field class="post-full-width" appearance="fill">
    <mat-label>Content</mat-label>
    <input matInput placeholder="Content" id="content" type="text" formControlName="content">
  </mat-form-field>

  <mat-form-field class="post-full-width" appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput placeholder="Author" id="userId" type="userId" formControlName="userId">
  </mat-form-field>
  {{ postForm.status }}
  <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.valid">Submit</button>
</form>
