<div class="container">
  <mat-action-list *ngIf="isLogged()">
    <button mat-list-item routerLink="/"> Home </button>
    <button mat-list-item (click)="openNewPostDialog()"> Create new Post </button>
    <button mat-list-item routerLink="/pending"> Pending Posts List </button>
    <button mat-list-item routerLink="/approved"> Published Posts List </button>
    <button mat-list-item routerLink="/rejected"> My Rejected Posts List </button>
    <button color="warn" mat-list-item (click)="logout()"> Logout </button>
  </mat-action-list>

  <mat-action-list *ngIf="!isLogged()">
    <button mat-list-item routerLink="/login"> Login </button>
    <button mat-list-item routerLink="/approved"> Published Post List </button>
  </mat-action-list>
</div>

<div class="container">
  <br />
  <router-outlet></router-outlet>
</div>

<ngx-loading [show]="(loadingStatus$ | async)!" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
